.Main {
  width:18%;
  /* height:95vh; */
  height:93vh;
  box-shadow: 10px 0 15px -3px rgba(163, 165, 170, 0.1), 6px 0 6px -2px rgba(163, 165, 170, 0.1);
 /* border-right: 1px solid #cccccc52; */
  padding-left: 10px;
  padding-right: 10px;
  /* box-shadow: 0 20px 25px -5px rgba(54, 78, 126, 0.2), 0 10px 10px -5px rgba(54, 78, 126, 0.1); */
}
.list {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}
.dropdown-2 {
  position: absolute;
  top: 100%; /* Positioning below the menu icon */
   left: 0; /* Aligning to the right */
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(54, 78, 126, 0.2), 0 10px 10px -5px rgba(54, 78, 126, 0.1);
  border-radius: 4px;
  z-index: 1000000;
  width:50%; /* Adjust the width as needed */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px; /* Space between items */
}



.userSection {
  margin-top:5px;
  margin-bottom: 20px;
  color: var(--text-color);
}
.userSection {
  :where(.css-dev-only-do-not-override-1fumvat).ant-menu-light.ant-menu-root.ant-menu-inline{
    border-inline-end: none !important;
  }
}
.userPhoto{
  margin-top: 1rem;
  width: auto;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  box-shadow: 0 10px 15px -3px rgba(163, 165, 170, 0.1), 0 4px 6px -2px rgba(54, 78, 126, 0.1);
  gap: 8px;
  margin-bottom: 1rem;
}


.userIcon {
  font-size:2.5rem;
  margin-bottom: 10px;
}

.username {
  font-size:20px !important;
  font-weight: bold;
  margin-bottom:0.5rem ;
}

.dark-mode{
  display: flex;
  width: auto;
  height: 10vh;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  gap: 1rem;

  /* box-shadow: 0 20px 25px -5px rgba(54, 78, 126, 0.2), 0 10px 10px -5px rgba(54, 78, 126, 0.1); */
}
.Dark{
  display: flex !important;
  justify-content:center;


  width: auto;
  vertical-align:bottom;
  gap: 5px;
}
.d1{
  font-size:2rem;
}
.Dark p{
  font-family: var(--font-regular);
  font-size: 14px;
}
.switch-theam {
  .ant-menu-title-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }


}

.ant-menu {
  height: 100%;
}


.search{
  text-align-last:right;
  margin-right:0.5rem;
}
.dropdown-2{
  display: block;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-menu-dark,
:where(.css-dev-only-do-not-override-j9bb5n).ant-menu-dark>.ant-menu {
  color: rgba(255, 255, 255, 0.65);
  background:#2b2c37;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline, :where(.css-dev-only-do-not-override-j9bb5n).ant-menu-dark>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background: #2b2c37;
}
:where(.css-dev-only-do-not-override-1fumvat).ant-menu-dark, :where(.css-dev-only-do-not-override-1fumvat).ant-menu-dark>.ant-menu {
  color: rgba(255, 255, 255, 0.65);
  background: #2b2c37;
}
@media (max-width:1300px){
  .Main {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
  }
  .userIcon {
    font-size:2rem;
    margin-bottom: 10px;
  }
  .username {
    font-size:1.2rem !important;
    font-weight:bold;
    margin-bottom:0.5rem ;
}
.d1{
  font-size:1.5rem;
}
.Dark p{
  font-size:0.8rem;
  font-weight: bold;
}
}

@media (max-width:900px){
  .Main {
    padding-left: 2px;
    padding-right: 2px;
    width: 20%;
  }
  .userIcon {
    font-size:1.8rem;
    margin-bottom: 10px;
  }
  .username {
    font-size:1rem !important;
    font-weight:bold;
    margin-bottom:0.5rem ;
}
.d1{
  font-size:1.2rem;
}
.Dark p{
  font-size:0.698rem;
  font-weight: bold;
}
.switch {
  align-self:flex-end;
}

}
@media (max-width:700px){
  .Main {
    width: 31% !important;;
    /* display: none; */
/* height: 100%; */
  }
  .userPhoto{
    margin-top: 5px !important;
    width: auto;
    display: flex;
    align-items: center;
    justify-content:start !important;
    box-shadow: 0 10px 15px -3px rgba(163, 165, 170, 0.1), 0 4px 6px -2px rgba(54, 78, 126, 0.1);
    gap: 5px;
    margin-bottom: 5px;
  }
  .userIcon {
    font-size:1.5rem;
    margin-bottom: 10px;
  }
  .username {
   /* display: none !important; */
}
.Dark{
  display:none !important;
}
.dark-mode{
  display: flex;
  width: auto;
  height: 5vh;
  justify-content:start;
  align-items: center;
  margin-bottom: 0rem !important;
  gap: 0.5rem !important;

}
.userIcon {
  font-size:3rem;
  margin-bottom: 10px;
}
.ant-menu-item{
  padding-left: 5px !important;
  padding-top: 0px !important;
  display: flex !important;
  width: 60% !important;
  justify-content: center !important;
  align-self: center !important;
  font-size: 27px !important;
}
.ant-menu-title-content{
  display: none !important;
}
.anticon.anticon-user.ant-menu-item-icon{
  font-size: 25px !important;
}
.ant-menu-item.ant-menu-item-active.ant-menu-item-selected{
  display: flex !important;
  width: 60% !important;
  justify-content: center !important;
  align-self: center !important;
}
.ant-menu-item.ant-menu-item-selected{
  width: 60% !important;
}
.ant-menu-inline.ant-menu-item {
  height: 20px !important;
  line-height: normal !important;

}

}

@media (max-width:430px){

  .Main {
    width:20% !important;;
    /* display: none; */
/* height: 100%; */
  }
  .userIcon {
    font-size:2.5rem !important;
    margin-bottom: 10px;
  }
  .userPhoto{
    margin-top: 5px !important;
    width: auto;
    display: flex;
    padding-left: 0.5rem;
    align-items: center;
    justify-content:start !important;
    box-shadow: 0 10px 15px -3px rgba(163, 165, 170, 0.1), 0 4px 6px -2px rgba(54, 78, 126, 0.1);
    gap: 5px;
    margin-bottom: 5px;
  }
  .userIcon {
    font-size:1.5rem;
    margin-bottom: 10px;
  }
  .username {
   display: none !important;
}
.Dark{
  display:none !important;
}
.dark-mode{
display: flex;
justify-content: flex-start !important;
margin-left: 0rem !important;
gap: 0rem !important;

}


.ant-menu-item{
  padding-left: 5px !important;
  padding-top: 0px !important;
  display: flex !important;
  width: 60% !important;
  justify-content: center !important;
  align-self: center !important;
  font-size: 27px !important;
}
.ant-menu-title-content{
  display: none !important;
}
.anticon.anticon-user.ant-menu-item-icon{
  font-size: 25px !important;
}
.ant-menu-item.ant-menu-item-active.ant-menu-item-selected{
  display: flex !important;
  width: 60% !important;
  justify-content: center !important;
  align-self: center !important;
}
.ant-menu-item.ant-menu-item-selected{
  width: 60% !important;
}
.ant-menu-inline.ant-menu-item {
  height: 20px !important;
  line-height: normal !important;

}
.search-default{
  :where(.css-dev-only-do-not-override-1fumvat).ant-input{
  font-size: small !important;
    line-height: normal;
  }
  .serach-bar{
    .ant-input{
      font-size: small !important;
      line-height: normal !important;
    }
  }
  /* .ant-input{
    padding: 0px !important;
  } */
}



}
@media (max-width:320){
  .Main {
    width:20% !important;;
    /* display: none; */
/* height: 100%; */
  }
  .userPhoto{
    margin-top: 5px !important;
    width: auto;
    display: flex;
    align-items: center;
    justify-content:start !important;
    box-shadow: 0 10px 15px -3px rgba(163, 165, 170, 0.1), 0 4px 6px -2px rgba(54, 78, 126, 0.1);
    gap: 0px;
    margin-bottom: 5px;
    padding-left:0rem !important;
  }
  .userIcon {
    font-size:1rem;
    margin-bottom: 10px;
  }
  .dark-mode{
    display: flex;
    justify-content: start !important;
    align-self:flex-start;
  }
  :where(.css-dev-only-do-not-override-1fumvat).ant-switch{
    max-width: 34px;
    max-height: 19px;
  }


}
