
.modal-new-task{
     width: 60% !important;
}
.date-12{
     display: flex;
     gap: 10px;

}
.taskitle{
     height: 8vh;
     font-size: 19px;
     /* margin-top: 1rem; */

   /* box-shadow: 0 20px 25px -5px rgba(54, 78, 126, 0.2), 0 10px 10px -5px rgba(54, 78, 126, 0.1); */
}
.taskitle::placeholder{
     font-size: 20px;
}
.modal-description{
     height: 30vh !important;
     font-size: 17px;

     /* margin-bottom: 1rem; */
     /* box-shadow: 0 20px 25px -5px rgba(54, 78, 126, 0.2), 0 10px 10px -5px rgba(54, 78, 126, 0.1);
} */
}
.modal-description::placeholder{
     font-size:16px ;
}
.modal-date{
     display: flex;
     justify-content: space-between;
     /* align-items: center; */
     margin-bottom: 1.5rem;
     gap: 5px;
     /* box-shadow: 0 20px 25px -5px rgba(54, 78, 126, 0.2), 0 10px 10px -5px rgba(54, 78, 126, 0.1); */
}
.modal-status{
display: flex;
justify-content: start;
align-items: center;
gap: 2rem;
}
.modal-date .icon{
     font-size:25px;
}

.assign-user {
     width: 150px;
}
.status{
     width: 150px;
}
.priority{
     width: 150px;
}
.icon{

     font-size: 25px;
}
.icon-center{
     display: flex;
     align-items: center;
     gap: 10px;
}
     /* box-shadow: 0 20px 25px -5px rgba(54, 78, 126, 0.2), 0 10px 10px -5px rgba(54, 78, 126, 0.1);
} */
 @media (max-width:890px){

.assign-user {
     width: auto;
     font-size: 12px !important;
}
.status{
     width: auto;
     font-size: 12px !important;
}
.priority{
     width: auto;
     font-size:12px  !important;
}
.icon{

     font-size: 20px;
}
.icon-center{
     display: flex;
     align-items: center;
     gap: 8px;
}
.taskitle::placeholder{
     font-size: 16px;
}

 }
 @media (max-width:745px){
     .modal-status{
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 10px !important;
          }
 }
 @media (max-width:430px){

     .icon-center{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 12px !important;
          gap:3px;
     }
     .icon{

          font-size: 14px;
     }
     .ant-modal-title{
          font-size: 13px !important;
     }
     .modal-status{
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
          gap:10px !important;
          }
          .taskitle::placeholder{
               font-size: 14px;
          }
          .modal-date{
          font-size: 12px !important;
          }
          .tasktitle{
               font-size: 12px;
          }
          .modal-description{
               font-size: 12px;
          }
          :where(.css-dev-only-do-not-override-1fumvat).ant-modal .ant-modal-content{
               padding: 5px 8px;
          }
 }
