
  .main-register {
     width: 100vw;
     height: 100vh;
     background: url("../image/bg1.jpg");
     display: flex;
     justify-content: center;
     align-items: center;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
   }

   .register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     height: auto;
     width:25%;
     border: 1px solid rgba(255, 255, 255, 0.5);
     backdrop-filter: blur(200px);
    /* margin-bottom: 2rem; */
    padding-bottom: 1rem;
   }
.form-register{
      margin-top: 1.5rem;
   width:80% !important ;

  .ant-form-item-label{
    text-align: start !important;
    font-weight: 500;
  }
}


   .register-form h2 {
    padding-top: 1rem;
     /* text-align: center; */
     font-size: 40px;
     /* margin-bottom: 1rem; */
    color: black;
   }
   .error-1{
    color: red;
    text-align: center;

  padding-top: 5px;

   }
   .singup-page{
    .ant-row.ant-form-item-row{
     display: flex;
     justify-content: end;

    }
   }
   .backtoLOGIN {
    margin-left: 0.5rem !important;
   }




   /* Desktop */
   @media (max-width: 1100px) {
     .register-form {
       width: 40% ;
     }
   }

   /* Tablet */
   @media (min-width: 768px) and (max-width: 1023px) {
     .register-form {
       width: 45%;
     }
   }

   /* Mobile */
   @media (max-width: 768px) {
     .register-form {
       width: 45% !important;


     }

     .ant-input-affix-wrapper {
      padding: 4px 11px;
    }

     .register-form h2 {
       font-size: 25px;
     }

     .backtoLOGIN {

      margin-left: 0.3rem !important;
     }
   }
@media (max-width:600px) {
     .register-form {
          width:auto !important;
          padding-bottom: 0px;


        }
        .ant-col{
          font-size: 5px !important;
        }

        .register-form h2 {
          font-size: 20px;
        }

        .backtoLOGIN {

          margin-left: 0.2rem; /* Adjust for better spacing on mobile */
        }
      }
      @media (max-width:580px){
        .register-form {
          width: 70% !important;
          /* height: 80% !important; */

        }

      }


@media (max-width:450px){
  .register-form {
    width:30!important;
    padding-right: 0rem;

  }
  .ant-form-item{
    font-size: 12px !important;
    margin-bottom: 5px;
    margin-left:1rem;
    /* margin-right: 0.5rem !important; */
  }
  .form-register .ant-input{
    width: 80%;
    padding: 1px 5px;
  }
  .ant-input-affix-wrapper {
    padding: 1px 5px;
    width: 80% !important;
  }
  :where(.css-dev-only-do-not-override-1fumvat).ant-col-offset-8 {
    margin-inline-start: 0%;
}


  .ant-form-item .ant-form-item-label {
    padding: 0 0 0px !important;
  }
  .ant-col{
    font-size: 5px !important;
  }


  .Resiger-input{
    width: 80% !important;
    /* padding: 0px !important; */

  }
  :where(.css-dev-only-do-not-override-1fumvat).ant-form-item .ant-form-item-label >label{
    height: 11px !important;
    font-size: 12px !important;
  }

  /* }
  .ant-form-item.css-dev-only-do-not-override-1fumvat{
    display: flex !important;
    flex-direction: row;
  } */

}



