.right-side {
  width: 83%;
  height:100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 10px;
  transition: background-color 0.3s ease;

}

.tasks-grid {
  width:100%;

  height: 84vh ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  flex-wrap: wrap;
  gap:1rem;
  margin-top: 1rem;
  overflow-y: auto;
}
.task-card {
  border-radius: 0.5rem;

  flex-wrap: wrap;
  /* background-color: white; */
  /* width: 100%; */
  box-shadow: 0 10px 15px -3px rgba(163, 165, 170, 0.1), 0 4px 6px -2px rgba(54, 78, 126, 0.1);
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.list-task{
  display: flex;
  align-items: center;
gap:2rem;
 /* gap:3rem ; */
}
.task-card:hover {
  transform: translateY(5px);
  box-shadow: 0 20px 25px -5px rgba(54, 78, 126, 0.2), 0 10px 10px -5px rgba(54, 78, 126, 0.1);
  /* box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(25,28,33,0.02), 0px 0px 0px 1px rgba(25,28,33,0.08); */

  /* box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7); */

}

/* .task-card:hover {
  color: rgb(99 95 199);
} */

.header-task {
  margin-top: 0;
  /* font-size: 20px; */
  font-weight: bold;
}

.task-card p {
  margin: 5px 0;
}

/* .button-logout {
  margin-top: 20px;
  text-align: right;
} */

.point {
  display: flex;
  align-items: center;
  margin-bottom:10px;

}

.todo {
  border-radius: 9999px;
  margin-right: 10px;
  width: 1rem;
  height: 1rem;
  background-color: #22c55e;
}

.pro {
  border-radius: 9999px;
  width: 1rem;
  margin-right: 10px;
  height: 1rem;
  background-color: #ef4444;
}

.done {
  border-radius: 9999px;
  width: 1rem;
  margin-right: 10px;
  height: 1rem;
  background-color: #6366f1;
}

.in {
  border-radius: 9999px;
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
  background-color: aquamarine;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* Additional styles for list view mode */
.list-view .right-side {
  border-color: deepskyblue;
}

.list-view .tasks-list .ant-list-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 0.5rem;
  /* color: rgb(255, 255, 255) !important; */
  box-shadow: 0 10px 15px -3px rgba(163, 165, 170, 0.1), 0 4px 6px -2px rgba(54, 78, 126, 0.1);
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 1rem;
}

.list-view .tasks-list .ant-list-item:hover {
  transform: translateY(10px);
  box-shadow: 0 20px 25px -5px rgba(54, 78, 126, 0.2), 0 10px 10px -5px rgba(54, 78, 126, 0.1);
}
/*  */
.date-2{
  display: flex;
  gap: 10px;
}
.Horigental{
  display: flex;
  gap: 10px;

}

.tasks-list{
  height:85vh;

}
/* media qurry */
@media (max-width:1300px){

  /* .tasks-grid {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr)); /* Adjust card width
    gap: 15px;
    margin-top: 0.8rem;
    overflow-y: auto;
  }
.task-card{
  padding: 0.5rem;
  width: 90%;

} */
/* .task-card{
  width: 90%;
} */
.header-task {
    font-size: 14px;
  }
  .p-2{
    font-size:14px ;
  }
  .date-2 p{
    font-size:14px ;
  }
  .p-4 p{
    font-size: 14px;
  }
  .p-5{
    font-size: 14px;
  }
  .list-task{
    font-size: 13px !important;
    gap: 1.5rem !important;

  }
}


@media (max-width:1097px){
  .tasks-grid{
    height: calc(100% - 50px);
  }

.task-card{
  padding: 0.5rem;
  /* width: 100%; */

}
  .header-task {
    font-size:0.875rem;
  }
  .p-2{
    font-size:0.844rem !important;
  }
  .date-2 p{
    font-size: 0.844rem ;
  }
  .p-4 p{
    font-size: 0.844rem;
  }
  .p-5{
    font-size: 0.844rem;
  }
}


@media (max-width:950px){
  .ant-avatar.ant-avatar-circle.ant-avatar-image{
    font-size: 20px !important;
  }
  .list-task{
    font-weight: normal;
    font-size: 12px !important;
    gap: 1rem !important;

  }
}
@media (max-width:850px){
  .list-task{
    font-size: 11.5px !important;
    gap:5px !important;
  }
  :where(.css-dev-only-do-not-override-1fumvat).ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-avatar{
    margin-inline-end: 3px !important;
  }
:where(.css-dev-only-do-not-override-1fumvat).ant-avatar{
  width: 20px !important;
  height: 20px !important;
}
.ant-list-item{
    padding: 5px !important;
    margin-bottom: 0.5rem !important;
  }
}
@media (max-width:776px)
{
  .task-card{
    padding: 0.5rem;
    /* width:100% !important; */

  }
    .header-task {
      font-size:0.875rem;
      font-weight: normal;
    }
    .p-2{
      font-size:0.844rem;
    }
    .date-2 p{
      font-size: 0.844rem ;
    }
    .p-4 p{
      font-size: 0.844rem;
    }
    .p-5{
      font-size: 0.844rem;
    }

}


@media (max-width:430px){
  .right-side {
    /* width:auto !important; */
    height:100%;
    margin-left: 12px !important;

    display: flex;
    margin-left: 1rem;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 15px -3px rgba(163, 165, 170, 0.1), 0 4px 6px -2px rgba(54, 78, 126, 0.1);
    padding-left: 1px !important;
    transition: background-color 0.3s ease;
  }

  .point {
    width: 100% !important ;
  font-size: 10px;

  }
  .pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px !important;
  }
  /* .tasks-grid{
display: flex !important;

  } */


  .task-card{
    padding: 0.5rem;
    /* display: grid; */
    width:70% !important;
   column-gap:10px ;


  }

  .header-task {
    font-size:0.678rem;
    font-weight: normal;
  }
  .p-2{
    font-size:0.6rem !important;
  }
  .date-2 p{
    font-size: 0.6rem ;
  }
  .p-4 p{
    font-size: 0.6rem;
  }
  .p-5{
    font-size: 0.6rem;
  }
}
@media (max-width:430px){
  .list-task{
    font-size: 10px !important;
    gap:2px !important;
  }
  :where(.css-dev-only-do-not-override-1fumvat).ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-avatar{
    margin-inline-end: 1px !important;
  }
:where(.css-dev-only-do-not-override-1fumvat).ant-avatar{
  width: 10px !important;
  height: 10px !important;
}
.ant-list-item{
  width: auto !important;
    padding: 3px !important;
    margin-bottom: 0.2rem !important;
  }
  .right-side .list-view{
    width: auto !important;
  }
  :where(.css-dev-only-do-not-override-1fumvat).ant-menu-inline .ant-menu-item{
    padding-inline: 1px !important;
  }
}
@media (max-width:320px){
  .right-side {
    /* width:auto !important; */
    height:100%;
    margin-left: 1px !important;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 15px -3px rgba(163, 165, 170, 0.1), 0 4px 6px -2px rgba(54, 78, 126, 0.1);
    padding-left: 1px !important;
    transition: background-color 0.3s ease;
  }

  .list-task{
    font-size: 10px !important;
    gap:2px !important;
  }
  :where(.css-dev-only-do-not-override-1fumvat).ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-avatar{
    margin-inline-end: 2px !important;
  }
:where(.css-dev-only-do-not-override-1fumvat).ant-avatar{
  width: 10px !important;
  height: 10px !important;
}
.ant-list-item{
    padding: 1px !important;
    margin-bottom: 0.5rem !important;
  }
  :where(.css-dev-only-do-not-override-1fumvat).ant-switch.ant-switch-checked .ant-switch-inner{
    padding-inline-start: 4px;
    padding-inline-end: 16px !important;
  }
  .ant-switch-inner{
    display: none !important;
  }
  :where(.css-dev-only-do-not-override-1fumvat).ant-switch .ant-switch-inner{
    width: 70%;
  }
  .pagination-controls {
    display: flex;
  bottom: 20% !important;
    height: 1% !important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px !important;
  }
}





