.qr{
     height: auto;
     width:auto;
     margin-top: 3rem;
    /* border: 2px solid red; */
}

.image-main{
     display: flex;
     height:80vh;
     justify-content: center;
     align-items: center;
}
.image-main img{
     height:300px;
     width:300px;
     border-radius: 30px;
     margin-top: 1rem;
     border: 2px solid black;
     box-shadow: 0 10px 15px -3px rgba(163, 165, 170, 0.1), 0 4px 6px -2px rgba(54, 78, 126, 0.1);
     margin-bottom: 1rem;

     background-repeat: no-repeat;
}
@media (max-width:700px){
     .image-main{
          display: flex;
          height:auto;
          justify-content: center;
          align-items: center;
     }

}
@media (max-width:350px){
     .image-main img{
          height: 100px;
          width: 100px;
     }

}
@media (max-width:350px){
     .image-main img{
          height: 100px;
          width: 100px;
     }

}
