.user-table-container{
     height: 100%;
     width: 98%;    /* border: 2px solid black; */
}
.user-table-container h2{
     margin-top:5px;
}
.custom-table{
     margin-top: 1rem !important;
   
    height: 80vh;
}
.u{
     display: flex;
     align-items: center;
     gap: 1rem;
     margin-bottom: 0.5rem;
}
.search-bar{
     margin-top: 5px;
     width: auto;
}

@media (max-width:770px){
     :where(.css-dev-only-do-not-override-1fumvat).ant-table-wrapper .ant-table{
          line-height: 0.5;
          font-size: 10px;
     }
 .user-table-container{
     height: auto;
 }

}
@media (max-width:430px){
     :where(.css-dev-only-do-not-override-1fumvat).ant-table-wrapper .ant-table{
          line-height: 0.2 !important;
          font-size: 9px !important;
     }
     .u{
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;
          margin-bottom: 0.5rem;
     }
     .search-bar{
          margin-top: 5px;
          width: 60% !important;
     }
     .user-table-container{
          height: auto !important;
      }
      :where(.css-dev-only-do-not-override-1fumvat).ant-table-wrapper .ant-table-cell, :where(.css-dev-only-do-not-override-1fumvat).ant-table-wrapper .ant-table-thead>tr>th{
          padding: 10px 10px;
      }
}


